body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
  margin: auto;
}

.not-found h1 {
  font-size: 150px;
}

.not-found h2 {
  font-size: 50px;
}

.not-found Button {
  margin: 50px;
}

.parking-space-list.card-columns {
  /* column-count: 3; */
  display: flex;
  flex-wrap: wrap;
}

.parking-space-list.card-columns .card {
  flex: 15%;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .parking-space-list.card-columns .card {
    flex: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .parking-space-list.card-columns .card {
    flex: 25%;
  }
}

.parking-item.show-cursor {
  cursor: pointer;
}
.parking-item.available {
  background-color: #27ae60;
}

.parking-item.not-available {
  background-color: #bdc3c7;
}

.pull-right {
  float: right;
}

.m-7 {
  margin: 7px;
}
.m-10 {
  margin: 10px;
}

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.error {
  color: crimson;
}

/* SplashPage.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #f0f2f5;
}

.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  color: #fff;
}

.splash-content {
  max-width: 800px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: fadeIn 1.5s ease-in-out;
}

.splash-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  animation: bounce 2s infinite;
}

.splash-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #343a40;
}

.splash-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #6c757d;
}

.features,
.objectives {
  text-align: left;
  margin-bottom: 20px;
}

.features ul,
.objectives ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
  color: #343a40;
}

.loading-text {
  font-size: 1rem;
  color: #343a40;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* TODO: FROM HERE */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #1a8efd;
  border-radius: 4rem;
}

.review-section {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Text */
.rw-text-content {
  width: 100%;
}
.rw-text-title {
  margin: 16px 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.rw-text-num {
  color: #178bff;
}
.rw-text-desc {
  margin: 16px 0;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 2.6rem;
}
.rw-text-format {
  margin: 64px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.rw-text-quote1 {
  position: absolute;
  top: -18px;
  left: -24px;
  color: #178bff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-text-quote2 {
  position: absolute;
  right: -18px;
  bottom: -24px;
  color: #178bff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}
.rw-review {
  display: block;
  margin: 0 0 0 8px;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 2.2rem;
}
.rw-authors {
  margin: 0 0 0 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.rw-reviewer-name {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.rw-reviewer-place {
  margin: 6px 0 0 0;
  color: #6f7074;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
/* Buttons */
.rw-next-btn {
  margin: 0 24px 0 0;
  color: black;
  border: 1px solid transparent;
  background-color: transparent;
  outline: transparent;
  font-size: 48px;
  cursor: pointer;
}
.rw-next-btn:hover {
  color: #178bff;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .review-section {
    letter-spacing: 0.8px;
  }
  .rw-text-title {
    font-size: 22px;
  }
  .rw-text-desc {
    font-size: 28px;
  }
  .rw-review {
    font-size: 22px;
    letter-spacing: 0.7px;
    line-height: 1.8rem;
  }
  .rw-reviewer-name {
    font-size: 20px;
  }
  .rw-next-btn {
    margin: 0 16px 0 0;
    font-size: 40px;
  }
}
.navbar-section {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
}
.navbar-title a {
  color: #1a8efd;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.navbar-title {
  font-family: "Poppins", sans-serif;
}
.navbar-sign {
  color: #54de54;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.navbar-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: "Rubik", sans-serif;
}
.navbar-items > li {
  list-style-type: none;
}
.navbar-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.navbar-links:hover {
  color: #0cc2ea;
}
.navbar-btn {
  padding: 14px 20px;
  color: white;
  border: 1px solid transparent;
  border-radius: 28px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.navbar-btn:hover {
  color: #1a8efd;
  background-color: white;
  border: 1px solid #1a8efd;
}
/* Hamburger Icon */
.mobile-nav {
  display: none;
}
.hamb-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.hamb-icon:hover {
  color: #0cc2ea;
}
/* Mobile Navbar */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 20;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease-in-out;
}
.mobile-navbar-close {
  position: absolute;
  top: 28px;
  right: 28px;
}
.mobile-navbar-close .hamb-icon:hover {
  color: rgb(255, 22, 22);
}
.open-nav {
  left: 0;
}
.mobile-navbar-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 24px;
  text-align: center;
}
.mobile-navbar-links li a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.8px;
  transition: color 0.3s ease-in-out;
}
.mobile-navbar-links li a:hover {
  color: #0cc2ea;
}
/* Responsive */
@media screen and (max-width: 900px) {
  .navbar-btn,
  .navbar-items {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
.info-section {
  padding: 0 32px;
  text-align: center;
  background-color: white;
}
.info-title-content {
  margin: 64px 0 128px 0;
}
.info-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.info-title > span {
  position: relative;
}
.info-title span::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #9d2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}
.info-description {
  margin: 64px;
  text-align: center;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}
/* Cards */
.info-cards-content {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.info-cards {
  height: auto;
  border: 2px solid #d7d3d3;
  border-radius: 12px;
  background-color: white;
  position: relative;
}
.info-card-title {
  margin: 32px 0 40px 0;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.info-card-description {
  margin: 24px;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
}
.info-card-icon {
  position: absolute;
  top: -24px;
  left: 44%;
  padding: 10px;
  background-color: #dce6ff;
  border-radius: 30px;
}
.info-fa-icon {
  color: #2c96ff;
  font-size: 24px;
}
/* Responsive */
@media screen and (max-width: 1000px) {
  .info-description {
    margin: 64px 32px;
  }
  .info-cards-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .info-description {
    margin: 64px 8px;
  }
  .info-cards-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.legal-text-content {
  padding: 12px 32px;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Title */
.legal-siteTitle a {
  text-decoration: none;
  color: #1a8efd;
  font-size: 48px;
  letter-spacing: 0.8px;
}
.legal-siteTitle {
  padding: 0 0 8px 0;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.legal-siteSign {
  color: #54de54;
  font-family: Cambria, sans-serif;
  font-size: 56px;
  font-weight: bold;
}
/* Info */
.legal-title {
  margin: 16px 0;
  padding: 0 0 2px 0;
  border-bottom: 2px solid grey;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.legal-description {
  margin: 0 0 16px 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}
/* Footer */
.legal-footer {
  padding: 24px 40px;
  display: block;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: 1.6rem;
}
/* Responsive */
@media screen and (max-width: 600px) {
  .legal-section {
    padding: 24px;
  }
  .legal-title {
    font-size: 24px;
  }
  .legeal-description {
    font-size: 16px;
  }
  .legal-footer {
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
  }
}
.hero-section {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Text section */
.text-section {
  width: 60%;
  padding: 0 32px;
}
.text-headline {
  margin-bottom: 12px;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.text-title {
  width: 500px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.text-descritpion {
  width: 475px;
  margin: 32px 0;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 1.6rem;
}
.text-appointment-btn {
  padding: 14px 20px;
  color: white;
  border: 1px solid transparent;
  border-radius: 28px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.text-appointment-btn:hover {
  color: #1a8efd;
  background-color: transparent;
  border: 1px solid #1a8efd;
}
.text-stats {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
}
.text-stats-container {
  text-align: center;
}
.text-stats-container > p {
  color: rgb(77, 75, 75);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  letter-spacing: 0.7px;
}
.text-stats-container p:first-child {
  margin-bottom: 8px;
  color: #1a8efd;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
/* Image section */
.hero-image-section {
  width: 40%;
  max-width: 100%;
  text-align: center;
}
.hero-image1 {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/* Scroll Btn */
.scroll-up {
  width: 45px;
  height: 45px;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #1a8efd;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 24px;
  z-index: 20;
  cursor: pointer;
}
.show-scroll {
  display: flex;
}
/* Responsive */
@media screen and (max-width: 900px) {
  .hero-image-section {
    display: none;
  }
  .text-section {
    width: 100%;
    padding: 0;
  }
  .text-title,
  .text-descritpion {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .text-headline {
    font-size: 20px;
  }
  .text-title {
    font-size: 28px;
  }
  .text-descritpion {
    font-size: 16px;
  }
  .text-appointment-btn {
    font-size: 16px;
  }
  .text-stats {
    gap: 18px;
  }
  .text-stats-container > p {
    font-size: 16px;
  }
  .text-stats-container p:first-child {
    font-size: 22px;
  }
  .scroll-up {
    bottom: 32px;
    right: 32px;
  }
}
.about-section {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
/* Image */
.about-image-content {
  width: 50%;
  max-width: 100%;
  text-align: center;
}
.about-image1 {
  width: 80%;
  height: auto;
}
/* Text */
.about-text-content {
  width: 50%;
}
.about-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.about-title > span {
  position: relative;
}
.about-title span::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #9d2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}
.about-description {
  margin: 32px 0;
  color: #4d4b4b;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}
.about-text-title {
  margin: 0 0 24px 0;
  color: #4d4b4b;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
/* Steps */
.about-text-step {
  margin: 16px 0;
}
.about-text-sTitle {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.about-text-description {
  margin: 8px 24px;
  color: #4d4b4b;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.6rem;
}
.fa-icon {
  color: #9d2553;
}
/* Responsive */
@media screen and (max-width: 1000px) {
  .about-section {
    display: block;
  }
  .about-image-content {
    width: 100%;
    max-width: 100%;
    margin: 0 0 32px 0;
  }
  .about-image1 {
    width: 100%;
    height: 100%;
  }
  .about-text-content {
    width: 100%;
  }
}
.footer-section {
  background-color: #1b2433;
}
.footer-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  color: white;
  border-bottom: 2px solid #293241;
  border-radius: 2px;
}
/* Title */
.ft-title {
  color: #1a8efd;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-sign {
  color: #1ecab0;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.ft-description {
  width: 420px;
  margin: 16px 0 40px;
  color: #d0d3da;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.7rem;
}
.ft-input-title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-input {
  width: 300px;
  margin: 20px 8px 0 0;
  padding: 16px 22px;
  color: white;
  background-color: #293241;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.ft-btn {
  padding: 14px 18px;
  color: white;
  border: 2px solid transparent;
  border-radius: 50px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.ft-btn:hover {
  color: #1a8efd;
  background-color: white;
  border: 2px solid #1a8efd;
}
/* Lists */
.ft-list-title {
  margin: 16px 0;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-list-items {
  list-style-type: none;
}
.ft-list-items li a {
  text-decoration: none;
  color: #a5a7ac;
  padding: 0 0 2px 0;
  border-bottom: 2px dotted transparent;
  transition: border 0.2s ease;
}
.ft-list-items li {
  margin: 24px 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-list-items li a:hover {
  border-bottom: 2px dotted #a5a7ac;
}
/* CopyRight */
.ft-copyright {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cbcdd3;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.ft-social-links li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cbcdd3;
  border-radius: 50%;
  cursor: pointer;
}
.ft-social-links li a svg {
  width: 24px;
  height: 24px;
  padding: 1px;
}
.ft-social-links li a svg path {
  fill: #cbcdd3;
}
.ft-social-links li a:hover,
.ft-social-links li a:hover svg path {
  fill: #1a8efd;
  border: 2px solid #1a8efd;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .footer-container {
    padding: 24px;
  }
  .ft-description {
    width: 100%;
    margin: 16px 0 24px;
  }
  .ft-input {
    width: 100%;
    margin: 16px 0;
  }
  .ft-btn {
    width: 100%;
    margin: 0 0 16px;
  }
  .ft-copyright {
    padding: 18px;
    display: block;
    text-align: center;
  }
  .ft-social-links {
    margin: 16px 0 0;
  }
}
.footer-section {
  background-color: #1b2433;
}
.footer-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  color: white;
  border-bottom: 2px solid #293241;
  border-radius: 2px;
}
/* Title */
.ft-title {
  color: #1a8efd;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-sign {
  color: #1ecab0;
  font-family: Cambria, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.ft-description {
  width: 420px;
  margin: 16px 0 40px;
  color: #d0d3da;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.7rem;
}
.ft-input-title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-input {
  width: 300px;
  margin: 20px 8px 0 0;
  padding: 16px 22px;
  color: white;
  background-color: #293241;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.ft-btn {
  padding: 14px 18px;
  color: white;
  border: 2px solid transparent;
  border-radius: 50px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.ft-btn:hover {
  color: #1a8efd;
  background-color: white;
  border: 2px solid #1a8efd;
}
/* Lists */
.ft-list-title {
  margin: 16px 0;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-list-items {
  list-style-type: none;
}
.ft-list-items li a {
  text-decoration: none;
  color: #a5a7ac;
  padding: 0 0 2px 0;
  border-bottom: 2px dotted transparent;
  transition: border 0.2s ease;
}
.ft-list-items li {
  margin: 24px 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-list-items li a:hover {
  border-bottom: 2px dotted #a5a7ac;
}
/* CopyRight */
.ft-copyright {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cbcdd3;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
.ft-social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.ft-social-links li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cbcdd3;
  border-radius: 50%;
  cursor: pointer;
}
.ft-social-links li a svg {
  width: 24px;
  height: 24px;
  padding: 1px;
}
.ft-social-links li a svg path {
  fill: #cbcdd3;
}
.ft-social-links li a:hover,
.ft-social-links li a:hover svg path {
  fill: #1a8efd;
  border: 2px solid #1a8efd;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .footer-container {
    padding: 24px;
  }
  .ft-description {
    width: 100%;
    margin: 16px 0 24px;
  }
  .ft-input {
    width: 100%;
    margin: 16px 0;
  }
  .ft-btn {
    width: 100%;
    margin: 0 0 16px;
  }
  .ft-copyright {
    padding: 18px;
    display: block;
    text-align: center;
  }
  .ft-social-links {
    margin: 16px 0 0;
  }
}
.ba-section {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: white;
}
/* Image */
.ba-image-content {
  width: 50%;
  max-width: 100%;
  text-align: center;
}
.ba-image1 {
  width: 80%;
  height: auto;
}
/* Text */
.ba-text-content {
  width: 50%;
}
.ba-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.ba-title > span {
  position: relative;
}
.ba-title span::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #9d2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}
.ba-description {
  margin: 32px 0;
  color: #4d4b4b;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}
/* Checks */
.ba-checks {
  margin: 28px 0;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.ba-check-first {
  margin-top: 40px;
}
.ba-check-last {
  margin-bottom: 40px;
}
/* Book Appointment Button */
.ba-appointment-btn {
  padding: 18px 24px;
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: transparent;
  background-color: #1a8efd;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.ba-appointment-btn:hover {
  color: #1a8efd;
  background-color: transparent;
  border: 1px solid #1a8efd;
}
/* Responsive */
@media screen and (max-width: 1000px) {
  .ba-section {
    display: block;
  }
  .ba-image-content {
    width: 100%;
    max-width: 100%;
    margin: 0 0 32px 0;
  }
  .ba-text-content {
    width: 100%;
  }
  .ba-image1 {
    width: 80%;
    height: 80%;
  }
}
.form-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: linear-gradient(to right, #ecf2ff, #fbfcff);
}
.form-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
.form-title > span {
  position: relative;
}
.form-title span::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 4px;
  background-color: #9d2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}
/* Form */
.form-content label {
  margin: 0 0 16px 0;
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  letter-spacing: 0.7px;
}
.form-content label::before {
  content: "*";
  color: red;
  padding: 0 4px 0 0;
}
.form-content label :is(input, select) {
  width: 100%;
  margin: 8px 0;
  padding: 0 12px;
  display: block;
  height: 40px;
  color: black;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #c9def4;
  outline: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}
/* Success Message */
.success-message {
  margin: 20px 0 0 0;
  color: green;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}
/* Error Message */
.error-message {
  color: red;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 1.7rem;
}
/* Responsive */
@media screen and (max-width: 600px) {
  .form-container {
    padding: 24px;
  }
  .form-title {
    font-size: 24px;
  }
  .form-content label {
    font-size: 18px;
  }
  .form-content label :is(input, select) {
    font-size: 16px;
  }
  .success-message {
    margin: 12px 0 0 0;
    font-size: 18px;
  }
}

.doctor-section {
  padding: 32px;
  margin: 0 0 32px 0;
  text-align: center;
  background-color: white;
}
.dt-title-content {
  margin: 0 0 64px 0;
}
.dt-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.dt-title > span {
  position: relative;
}
.dt-title span::before {
  content: "";
  position: absolute;
  width: 64%;
  height: 4px;
  background-color: #9d2553;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}
.dt-description {
  margin: 64px auto 0;
  text-align: center;
  color: rgb(77, 75, 75);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}
/* Doctor Cards */
.dt-cards-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.dt-card {
  width: 332px;
  height: 400px;
  gap: 32px;
  text-align: left;
  font-family: "Rubik", sans-serif;
}
.dt-card-img {
  width: 100%;
  height: 275px;
  padding: 16px 32px 0;
  background-position: center;
  background-color: #dde5f8;
  border-radius: 20px;
}
.dt-card-name {
  margin: 12px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.dt-card-title {
  margin: 6px 0 8px;
  color: #494949;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}
.dt-card-stars {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
.dt-card-reviews {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.7px;
}
/* Responsive */
@media screen and (max-width: 700px) {
  .dt-title {
    font-size: 32px;
  }
  .dt-description {
    margin: 48px 0 0;
    font-size: 18px;
  }
}
